.container {
  max-width: 400px;
  margin: 70px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 8px;
  margin-bottom: 10px;
}

.add_item_button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add_item_button:hover {
  background-color: #0056b3;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero {
  font-size: 40px;
  text-align: center;
}

.label_search {
  margin-top: 10px;
  margin-bottom: 5px;
}

.search {
  padding: 8px;
  margin-bottom: 10px;
}

.contacts_list {
  list-style: none;
  padding: 0;
}

.contact_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.delete_item_button {
  margin-left: 10px;
  background-color: #e83c4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.delete_item_button:hover {
  background-color: #c21425;
}

.name_item {
  font-weight: 600;
}

.phone_item {
  font-style: italic;
}
